%link
    cursor: pointer
    text-decoration: underline
    &:hover
        text-decoration: none

%link-reverse
    cursor: pointer
    text-decoration: none
    &:hover
        text-decoration: underline

%link-none
    cursor: pointer
    text-decoration: none
    &:hover
        text-decoration: none
