// Mixin to quickly add / remove default styles to links
@mixin link($type: default)
    cursor: pointer
    @if $type == reverse
        text-decoration: none
        &:hover
            text-decoration: underline
    @else if $type == blank
            text-decoration: none
            &:hover
                text-decoration: none
    @else
        text-decoration: underline
        &:hover
            text-decoration: none

%link
    @include link

%link-reverse
    @include link(reverse)

%link-blank
    @include link(blank)
