// Basic styles that we end up adding to all of our projects

body
    line-height: 1.4
    *
        box-sizing: border-box

// Overwrite browser button styles for all buttons
button
    border: 0
    background: none
    padding: 0
    margin: 0
