.widget
    $widget-index: 10 !default
    $widget-dragging-index: $widget-index + 1 !default
    width: (100% / 3)
    padding: 0 1%
    z-index: $widget-index
    &.as-sortable-placeholder
        margin: 0
    // Override masonry styles
    .as-sortable-drag &
        top: auto !important
        left: auto !important
        width: 100% !important
        z-index: $widget-dragging-index
    .header
        position: relative
        padding: $site-padding
        border: 1px solid
        .title
            margin: 0
        .as-sortable-item-handle
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%

    .section
        border: 1px solid
        margin:
            bottom: $site-padding

    .body
        padding: $site-padding
        overflow: hidden

    .footer
        padding: $site-padding
        overflow: hidden
